<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Distributivo Admin - Login</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header text-center">ADMINISTRADOR</div>
        <div class="card-body">
          <form role="form" name="login" action="../Model/login.php" method="post">

            <div class="form-group">
              <label for="username">Identificación</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de usuario" autofocus="autofocus" required="required">
            </div>

            <div class="form-group">
              <label for="password">Contrase&ntilde;a</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Contrase&ntilde;a" required="required">
            </div>
      
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Recordar contraseña
                </label>
              </div>
            </div>
            <button type="submit"class="btn btn-primary btn-block">Acceder</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" > Login para administrador, está diseñada especidficamente para el administrador del sistema.</a>
            <a class="d-block small" >Para mayor informacion contacte con el proovedor de su servicio.</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
